<header>
  <video autoplay loop muted class="header">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-man-doing-push-ups-using-dumbbells-40248-large.mp4" type="video/mp4" />Your browser does not support the video tag.
  </video>
</header>
<div class="max-w-lg m-auto">
  <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
      <h1>New Health & Safety Measures</h1>
      <p>We've reimagined your club experience – from our new touch-free club check-in system</p>
    </section>
    <section>
      <h1>GX24® Studio Classes</h1>
      <p>We're offering a modified selection of fitness classes in our clubs, in order to be extra </p>
    </section>
    <section>
      <h1>Virtual, Group & Personal Training</h1>
      <p>Train from anywhere with 24 Hour Fitness® coaches! Meet us online for more than 50 virtual</p>
    </section>
  </div>
</div>

